.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #e3e9f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  /* font-size: calc(10px + 2vmin);
  color: white; */
  background-image: url("/src/Assets/cylogo.png");
  background-size: 200px;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  height: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background-image: url("/src/Assets/image.png"); */
  background-color: #e3e9f3;

}

.search {
  position:relative;
  margin: 8px;
  min-height: 250px;
}

.center {
  display:block;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); 
}

.table-header {
  font-weight: 900;
}

.MuiDataGrid-columnHeaderTitle{
  font-weight: bolder;
  color: #4f98d4;
}